@model ProfielViewModel

    <div class="card">
        <h5 class="card-header">@Model.Voornaam @Model.Achternaam</h5>
        <div class="card-body">
            <h5 class="card-title">@Model.Email</h5>
            <p class="card-text">Lijst met vrienden komt hier nog</p>
            <a asp-controller="Home" asp-action="AddFriend" asp-route-bevriendid="@Model.Id">
                <input type="button" class="btn btn-primary" value="Add Friend" />
            </a>
        </div>
    </div>