@model MovieDeleteViewModel

<div class="container" style="margin:auto; width:60%">
    <div class="row justify-content-center">
        <p>Do you wish to remove the following item from your library?</p>
    </div>
    <div class="row justify-content-center">
        <strong>@Model.Title</strong>
    </div>
    <div class="row justify-content-center">
        <p><img src="@Model.poster_path" /></p>
    </div>
    <div class="row justify-content-center margin" style="margin:10px">
        <form asp-controller="Movie" asp-action="ConfirmDelete" asp-route-id="@Model.Id">
            <p><input type="submit" class="btn btn-danger" value="Yes" style="margin: 0px 10px;" /><p>
        </form>
        <form asp-controller="Movie" asp-action="Watchlist" asp-route-id="@Model.Id">
            <p><input type="submit" class="btn btn-primary" value="No" /><p>
        </form>
    </div>
</div>




