@model IEnumerable<AllMoviesSeriesViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // Hoe kan hij weten voor welke section dat hij die lijst moet gebruiken?
    // 

}

<!--Carousel for the movies who haven't been released'-->
<section class="moviesNotRealeased">
    <div class="container-fluid">
        <div class="row">
            <div class="scrollcards">

                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>

<!--Popular Movies in a Horizontal Slider-->
<section class="moviesPopular">
    <div class="container-fluid">
        <div class="row">
            <div class="scrollcards">

                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>



<!--Trending Movies in a Horizontal Slider-->

<section class="TrendingMovies">
    <div class="container-fluid">
        <div class="row">
            <div class="scrollcards">

                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>

                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top" src="http://via.placeholder.com/350x150">
                    <div class="card-block">
                        <h4 class="card-title">Card title</h4>
                        <p class="card-text">Text Here</p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
<style>

    section {
        margin-top: 40px;
    }

    .card {
        border: 2px solid red;
        margin: 10px 4px;
        transition: .6s ease;
    }

        .card:hover {
            transform: scale(1.05);
        }

    .card-block {
        padding: 10px;
    }

    .scrollcards {
        background-color: #fff;
        overflow: auto;
        white-space: nowrap;
    }

    ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
        background: transparent;
    }

    div.scrollcards .card {
        display: inline-block;
        padding: 14px;
        text-decoration: none;
        height: auto;
        width: 300px;
    }

</style>
<script>
   
</script>